<h1>New Record</h1>

<%= form_with scope: :record, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :type %><br>
    <%= form.select :type, Record.types.keys.map { |key, value| [key.upcase, key] } %>
  </p>

   <p>
    <%= form.label :content %><br>
    <%= form.text_field :content %>
  </p>
 
 
  <p>
    <%= form.submit %>
  </p>
<% end %>