<h1><%= @record.name %>
<% if @record.user_id == current_user.id || current_user.admin? %>
	<%= link_to 'Destroy', record_path(@record),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: "btn btn-danger" %>
<% end %>
</h1>

<table class="table table-bordered">
  <tbody>
    <tr>
      <th scope="row">Name</th>
      <td><%= @record.name %></td>
    </tr>

    <tr>
      <th scope="row">Type</td>
      <td><a href="<%= record_info_link(@record) %>"><%= @record.dns_type.upcase %></a></td>
    </tr>
    <tr>
      <th scope="row">Content</td>
      <td><%= @record.content %></td>
    </tr>
<!--     <tr>
      <td>Cloudflare ID</td>
      <td><%= @record.cloudflare_id %></td>
    </tr> -->
  </tbody>
</table>